html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
}

body {
  font-size: 50px;
}

button, input {
  font-size: inherit;
}

body {
  background-image: url('./assets/cisco-logo.png');
  background-size: 25% 20%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
}

.target, .bomb {
  position: absolute;
  transform: translate3d(0, 0, 0);
  background-size: 100% 100%;
  /* background-color: white; */
  will-change: transform;
}

.target {
  width: 150px;
  height: 200px;
}

.bomb {
  width: 200px;
  height: 200px;
}

.balloon-green { background-image: url('./assets/nettverksdagene.png'); }
.balloon-blue { background-image: url('./assets/nettverksdagene.png'); }

.bomb {
  background-image: url('./assets/bomb.png');
}

.misses {
  position: absolute;
  top: 1em;
  right: 1em;
}

.score {
  position: absolute;
  top: 1em;
  left: 1em;
}

.title {
  position: absolute;
  top: 1em;
  width: 100%;
  text-align: center;
  color: #00CDEB;
}

.highscore {
  position: absolute;
  top: 6em;
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 0.5em;
}

.highscore::before {
  content: '🏆';
  margin-right: 1em;
}

button, input {
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  border: 0;
}

button {
  background: #00CDEB; /* rgba(0, 0, 0, 0.7); */
  color: white;
  text-align: center;
}

input {
  background: #f2f2f2;
  outline: 0;
}

.msg {
  position: absolute;
  width: 30%;
  top: calc(30% - 1em);
  left: 35%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: relative;
  background: white;
  padding: 2em 4em;
  border-radius: 1em;
  text-align: center;
  font-size: 0.7em;
}

h1 {
  font-size: 1.5em;
  color: #00CDEB;
}

.save-form {
  margin: 1em 0;
}

.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1em;
  background: #ddd;
  color: #666;
}
